<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896154774253-70o640in5a5v2phevsdioommnh085evq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896154774253-70o640in5a5v2phevsdioommnh085evq</string>
	<key>API_KEY</key>
	<string>AIzaSyANakZfYzqZJ7pkuCyJH_pHUNCIpvNa1uA</string>
	<key>GCM_SENDER_ID</key>
	<string>896154774253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azimislom.grandEduCeo</string>
	<key>PROJECT_ID</key>
	<string>grand-edu</string>
	<key>STORAGE_BUCKET</key>
	<string>grand-edu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896154774253:ios:12cde3d6ebc0644275fae4</string>
</dict>
</plist>